.chat-message {
  .message-date {
    display: flex;
    flex-direction: row;
  
    &:before, &:after{
      content: "";
      flex: 1 1;
      border-bottom: 1px solid;
      margin: auto;
    }

    &:before {
      margin-right: 10px
    }
    &:after {
      margin-left: 10px
    }
  }
  .message-body {
    position: relative;

    .message-time {
      position: absolute;
      bottom: 5px;
      font-size: 11px;
    }
  }
}

.left {
  left: 5px;
}

.right {
  right: 5px;
}