.chat-card {
  min-height: 105px;

  h4 {
    font-size: 1.35em;
  }

  &:hover {
    background-color: var(--basic-color-grey-light);

    h4 {
      color: var(--prim-color);
    }
  }
}