.dropdown-menu-options-request-card {
  background-color: var(--basic-color-grey-light);
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  visibility: hidden;
  transform: translateY(-100%);

  li {
    font-size: 14px;
    color: var(--prim-color);

    &:hover {
      background-color: var(--prim-color);
      color: var(--basic-color-white);
    }
  }

  .disabled {
    color: var(--prim-color);
    opacity: 0.5;

    &:hover {
      background-color: var(--basic-color-grey-light);
      color: var(--prim-color);
    }
  }
}