.edit-profile-modal {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 1;

  .edit-profile-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--basic-color-dark);
    min-height: 100vh;
    width: 100%;
    z-index: 20;
    opacity: 0.7;
  }

  .edit-profile-modal-white-bg {
    display: flex;
    min-height: 70vh;
    max-height: 90vh;
    width: 70%;
    z-index: 21;
    background-color: var(--basic-color-white);
    border-radius: 0px;
    overflow: hidden;
    position:relative;

    .edit-profile-modal-content {
      min-height: 70vh;
      max-height: 90vh;
      height: 100%;
      border: none;
      overflow-y: scroll;
      
      .input {
        position: relative;
        display: block;
        width: 100%;

        input {
          border: 1px solid var(--basic-color-grey-dark);
          border-radius: 7px;
          width: 100%;
          height: 2.5em;
          padding-top: 0.3em;
          padding-bottom: 0.3em;
          padding-left: 2.3em;
          outline: none;
        
          &:focus {
            border: none;
            outline: none;
            border-color: var(--prim-color);
            box-shadow: 0 0 10px var(--prim-color);
          }
        }  

        .profile-icon {
          position: absolute;
          left: 10px;
          top: 39px;
          width: 20px;
        }
      }

      .file-input {
        label {
          font-size: 18px;
        }
        
        .caption {
          font-size: 12px;
        }
      
        .plus-icon {
          width: 30px;
          padding: 5px;
          border: 2px solid var(--prim-color);
          border-radius: 50%;
      
          &:hover, &:focus {
            transform: scale(1.1);
          }
        }
      
        input {
          display: none;
        }  
      }
    }
  }
}