.edit-profile-modal {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 1;

  .edit-profile-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--basic-color-dark);
    min-height: 100vh;
    width: 100%;
    z-index: 20;
    opacity: 0.7;
  }

  .edit-profile-modal-white-bg {
    display: flex;
    min-height: 70vh;
    width: 70%;
    z-index: 21;
    background-color: var(--basic-color-white);
    border-radius: 0px;
    overflow: hidden;
    position:relative;

    .edit-profile-modal-content {
      min-height: 70vh;
      height: 100%;
      border: none;

      .button-chat {
        width: 200px;

        @include mobile {
          width: 100%;
        }
      }
    }
  }
}