.flash {
  margin: 0 -70px 0 -70px;
  padding: 10px;
  visibility: hidden;
  display: none;

  @include mobile_and_tablet {
    margin: 0 -30px 0 -30px;
  }

  .flash-close {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.flash-success {
  visibility: visible;
  display: block;
  background-color: var( --lightest-success-color);
  color: var( --darkest-success-color);
}

.flash-danger {
  visibility: visible;
  display: block;
  background-color: var( --lightest-danger-color);
  color: var( --darkest-danger-color);
}

.flash-warning {
  visibility: visible;
  display: block;
  background-color: var( --lightest-warning-color);
  color: var( --darkest-warning-color);
}