.footer {
  background-color: var(--light-bg-color);
  margin: 0 -70px -20px -70px;
  padding: 10px 70px;

  @include mobile_and_tablet {
    margin: 0 -45px -20px -45px;
    padding: 10px 45px;
  }

  .logo {
    width: 140px;
  }

  .navlink {
    text-decoration: none;
    color: var(--prim-color);
    cursor: pointer;
  
    &:hover {
      color: var(--darker-prim-color);
    }
  }
}