.navigation {
  background-color: var(--light-bg-color);
  margin: -20px -70px 0 -70px;
  padding: 15px 70px;

  @include mobile_and_tablet {
    margin: -20px -45px 0 -45px;
    padding: 15px 45px;
  }

  .logo {
    width: 180px;

    @include mobile_and_tablet {
      height: 60px;
    }
  }

  .navlink {
    text-decoration: none;
    color: var(--basic-color-dark);
    cursor: pointer;
  
    &:hover {
      color: var(--prim-color);
    }
  }
  
  .active {
    color: var(--prim-color);
  }

  .connection-buttons {
    a {
      font-size: 1.2em;
    }   
  }

  button.dropdown-toggle.btn.btn-primary {
    background-color: var(--light-bg-color);
    color: var(--prim-color);
    border: none;
    padding: 0;
  }

  .profile-logo {
    width: 50px;
  }

  .logout-logo {
    width: 20px;
  }
}




