.request-card {
  .material-request-card {
    border: 2px solid var(--third-color);
    border-top: 10px solid var(--third-color);
    border-radius: 10px;
  }
  
  .service-request-card {
    border: 2px solid var(--sec-color);
    border-top: 10px solid var(--sec-color);
    border-radius: 10px;
  }

  .card-content {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;


    .dropdown {
      position: relative;
    }
  }
}

