.user-position-modal {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  .user-position-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--basic-color-dark);
    min-height: 100vh;
    width: 100%;
    z-index: 20;
    opacity: 0.7;
  }

  .user-position-modal-white-bg {
    display: flex;
    min-height: var(--modal-min-height);
    max-height: var(--modal-max-height);
    width: var(--modal-width);
    z-index: 21;
    background-color: var(--basic-color-white);
    border-radius: 0px;
    overflow: hidden;
    position:relative;

    @include mobile {
      width: var(--modal-width-mobile);
    }

    .user-position-modal-content {
      min-height: var(--modal-min-height);
      max-height: var(--modal-max-height);
      height: 100%;
      border: none;
      overflow-y: scroll;

      .caption {
        font-size: 12px;
      }
      
      .input {
        position: relative;
        display: block;
        width: 100%;

        input {
          border: 1px solid var(--basic-color-grey-dark);
          border-radius: 7px;
          width: 100%;
          height: 2.5em;
          padding-top: 0.3em;
          padding-bottom: 0.3em;
          padding-left: 2.3em;
          outline: none;
        
          &:focus {
            border: none;
            outline: none;
            border-color: var(--prim-color);
            box-shadow: 0 0 10px var(--prim-color);
          }
        }  

        .position-icon {
          position: absolute;
          left: 10px;
          top: 37px;
          width: 23px;
        }
      }
    }
  }
}