.forgotten-password {
  .container {
    min-height: 70vh;
    width: 100%;

    .box {
      min-width: 360px;
      width: 70%;

      // .box-left {
      //   .illustration {
      //     width: 450px;
      //   }
      // }

      // .box-right {
      //   width: 100%;
      // }
    }
  }
}