.map-requests {
  .counter {
    line-height: 1.5em;
  }

  .caption {
    span#material {
      content: "";
      display: block;
      height: 20px;
      width: 20px;
      background: var(--third-color);
    }

    span#service {
      content: "";
      display: block;
      height: 20px;
      width: 20px;
      background: var(--sec-color);
    }
  }
  
  .map {
    height: 80vh;
    width: 100%;
    border: 2px solid var(--prim-color);
    border-radius: 10px;
    overflow: hidden;

    .bubble-request {
      visibility: hidden;
      transform: translate(70px, -120px);

      @include mobile_and_tablet {
        transform: translate(-100px, 10px);
      }

      .bubble-pointer {
        position: absolute;
        top: 65px;
        left: -10px;
        height: 40px;
        width: 40px;
        background: white;
        transform: rotate(45deg);

        @include mobile_and_tablet {
          top: -10px;
          left: 80px;
        }
      }

      .bubble {
        position: absolute;
        height: 230px;
        width: 220px;
        background: white;
        border-radius: 10px;
        text-align: center;

        .close-button {
          position: absolute;
          top: 5px;
          right: 10px;
        }
      }
    }
  }
}