.profile {
  .container {
    min-height: 85vh;
    width: 100%;

    .box {
      @include mobile {
        width: 100%;
      }

      @include tablet_and_large-screen {
        width: 90%;
        min-height: 500px;
      }

      @include very_large-screen {
        width: 90%;
        min-height: 585px;
      }

      .box-right {
        .id-card-box {
          border: 1px solid var(--basic-color-grey-dark);
          width: 180px;
          height: 140px;

          @include mobile_and_tablet {
            width: 140px;
            height: 110px;
          }

          .id-card {
            width: 100%;
            object-fit: contain;
          }
        }

        .profile-button {
          width: 250px;
          padding: 10px;

          @include very_large_screen {
            width: 220px;
            padding: 10px;
          }
        }
      }
    }
  }
}