.requests {
  .container {
    min-height: 85vh;
    width: 100%;

    .box {
      background-color: var(--basic-color-white);
      overflow: hidden;
      
      @include mobile {
        width: 100%;
      }

      @include tablet_and_large-screen {
        width: 90%;
        min-height: 500px;
      }

      @include very_large-screen {
        width: 90%;
        min-height: 585px;
      }

      .caption {
        span#material {
          content: "";
          height: 20px;
          width: 20px;
          background: var(--sec-color);
        }
        
        span#service {
          content: "";
          height: 20px;
          width: 20px;
          background: var(--third-color);
        }
      }
    }
  }
}