.signup {
  @include mobile {
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .container {
    min-height: 85vh;
    width: 100%;

    .box {
      background-color: var(--basic-color-white);
      overflow: hidden;

      @include mobile {
        width: 100%;
      }

      @include tablet_and_large-screen {
        width: 90%;
        min-height: 500px;
      }

      @include very_large-screen {
        width: 90%;
        min-height: 585px;
      }

      .box-left {
        .pattern {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .box-right {
        .auth-logo {
          width: 65px;
        }

        .input {
          position: relative;
          display: block;
          width: 100%;
  
          input {
            border: 1px solid var(--basic-color-grey-dark);
            border-radius: 7px;
            width: 100%;
            height: 2.5em;
            padding-top: 0.3em;
            padding-bottom: 0.3em;
            padding-left: 2.3em;
            outline: none;
          
            &:focus {
              border: none;
              outline: none;
              border-color: var(--prim-color);
              box-shadow: 0 0 10px var(--prim-color);
            }
          }  

          .profile-icon, .mail-icon, .lock-icon {
            position: absolute;
            left: 10px;
            top: 38px;
            width: 20px;
          }
        }

        .file-input {
          position: relative;
          display: block;
          width: 100%;

          .caption {
            font-size: 12px;
          }
  
          input {
            border: 1px solid var(--basic-color-grey-dark);
            border-radius: 7px;
            width: 100%;
            height: 2.5em;
            padding-top: 0.3em;
            padding-bottom: 0.3em;
            outline: none;
          
            &:focus {
              border: none;
              outline: none;
              border-color: var(--prim-color);
              box-shadow: 0 0 10px var(--prim-color);
            }
          }  
        }
      }
    }
  }
}

.signup-bg {
  @include mobile {
    background-image: url("../../assets/images/signup_pattern.svg");
    height: auto;
    top: 0; 
    left: 0; 
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
}